@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
::-webkit-scrollbar {
  display: none;
}

.subTitle {
  font-family: "Major Mono Display", monospace;
  letter-spacing: 1.2px;
}
.info {
  font-family: "Josefin Sans", sans-serif;
}
